src/calendar/config.py

src/python/calendar/config.py

src/NextEvent/NextEvent-web/bin/

src/NextEvent/NextEvent-web/obj/

src/NextEvent/NextEvent.AppHost/bin/

src/NextEvent/NextEvent.AppHost/obj/

src/NextEvent/NextEvent.ServiceDefaults/bin/

src/NextEvent/NextEvent.ServiceDefaults/obj/

.env


src/NextEvent/NextEvent.AppHost/appsettings.Development.json

src/deploy/
