@page "/"

<PageTitle>Home</PageTitle>

<h1>Bienvenue sur votre site de configuration!</h1>

<FluentEmoji Value="@(new Microsoft.FluentUI.AspNetCore.Components.Emojis.Objects.Color.Default.LightBulb())" Width="256px" />